Flask
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Login
SQLAlchemy
Werkzeug
flask_wtf
wtforms
PyPDF2
langchain
langchain_google_genai
google-generativeai
cachetools
python-dotenv
asyncio
langchain_community
email_validator
faiss-cpu
